# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment folders
venv/
env/

# TensorFlow/Keras model files (optional: if you want to exclude models)
# model_files/

# macOS files
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Python environment files
*.env

# IDE specific files (if you use VS Code or PyCharm)
.vscode/
.idea/
